.suggestion-article-logo{
	text-align: center;
}

.suggestion-article-title {
	font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
	text-align: center;
}


.suggestion-article {
	margin: 0px 15px 0 15px;
    position: relative;
    z-index: 2;
    float: left;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    font-size: 13px;
    min-height: 400px;
	max-height: 400px;
    border: 1px solid #d8d8d8;
}

.suggestion-article-text {

}