.suggestion-article-logo{
	text-align: center;
}

.suggestion-article-title {
	font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
	text-align: center;
}


.suggestion-article {
	margin: 0px 15px 0 15px;
    position: relative;
    z-index: 2;
    float: left;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    font-size: 13px;
    min-height: 400px;
	max-height: 400px;
    border: 1px solid #d8d8d8;
}

.suggestion-article-text {

}

.m-news-item .suggestion-article{
    width: 400px;
}

.news-logo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: 100%;
}

.m-news-item-more{
    background: #ffba00;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    display: block;
    vertical-align: top;
    width: 120px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    clear: both;
    font-weight: bold;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.m-news-item-more:hover{
    color: #000;
}

.m-news-item-title{
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}

.m-news-date-time {
    background: url("/bitrix/templates/.default/components/bitrix/news.list/news_for_main_slider/images/date.jpg") no-repeat scroll left top transparent;
    color: #000;
    display: block;
    float: left;
    height: 49px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
    width: 51px;
}

.d1{
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -11px;
    margin-top: 8px;
    width: 51px;
}
.d2{
    display: inline-block;
    font-size: 10px;
}

.m-news-date{
    display: inline-block;
    vertical-align: top;
    width: 60px;
}

.m-news-content{
    display: inline-block;
    vertical-align: top;
    width: 330px;
}

.m-news-content .m-news-item-text{
    height: 105px;
    overflow: hidden;
    font-size: 12px !important;
}

.m-news-content .m-news-item-text span,
.m-news-content .m-news-item-text h1
{
    font-size: 12px !important;
    margin: 0;
    padding: 0;
    letter-spacing: 1px; 
}