.card .front {
    text-align: center;
}
.service-icon {
    height: 150px!important;
    margin-top: 40px;
}
.service-name{
	margin: 0 25px!important;
    width: 250px;
}
.card .back {
    text-align: center;
}
.service-annotation-title {
    margin: 0 50px !important;
    width: 200px;
}