div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
    background: url("images/date.jpg") no-repeat scroll left top transparent;
    color: #000;
    display: block;
    float: left;
    height: 49px;
    margin-right: 15px;
    text-align: center;
    width: 51px;
}
.g1_n{
	height: 20px;
    width: 690px;
    margin-bottom: 20px;
    margin-top: -10px;
}
#news_block{
	width: 100%;
	float: left;
	margin-bottom: 25px;
}
#d1{
	display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -11px;
    margin-top: 8px;
    width: 51px;
}
#d2{
	display: inline-block;
    font-size: 10px;
}