header{
	height: 120px;
}

.logo{
	background-image: url(/assets/img/logo.png);
    width: 237px;
    height: 41px;
    float: left;
    margin: 30px 90px 0 0;
}

.header-w{
	position: relative;
}

.header-w .logo{
	margin-left: 30px;
	margin-right: 70px;
}

.phone-header-block{
	float: right;
	margin-top: -2px;
	margin-right: 80px;
}

ul.nav-header-menu{
	margin-top: 20px;
}

.header-w .callback{
	background: #ffba00;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	/*display: inline-block;*/
	vertical-align: top;
	width: 130px;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	clear: both;
	margin: -5px 0 0 40px;
	font-weight: bold;
}

.header-w .callback:hover{
	color: #000;
}

.phone-header{
	margin: 5px 0 5px 0;
	float: none;
	text-align: center;
	padding: 5px 10px;
}

.phone-number{
	text-align: right;
	float: none;
	font-size: 22px;
}

.phone-number a{
	text-decoration: none;
	color: inherit;
	font-family: 'Roboto', 'Verdana', 'sans-serif';
}

.socials-top{
	position: absolute;
	right: 330px;
	top: 20px;
	width: 90px;
}

.socials-footer{
	clear: both;
	margin: 20px 0 0 80px;
	width: 90px;
}

.socials a{
	display: inline-block;
	width: 25px;
	height: 30px;
	background-repeat: no-repeat;
	background-image: url("/assets/img/socials.png");
	margin: 0px;
}

.socials a.vk{
	background-position: -2px 0px;
}

.socials a.fb{
	background-position: -36px 0px;
}

.socials a.inst{
	background-position: -66px 0px;
	margin-left: -5px;
}

footer{
	background: #e6eefb;
}

.footer{
	height: auto;
}

.foot1{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.foot2{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.foot3{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.foot4{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.foot-address{
	margin-left: 20px;
}

.foot-address span{
	font-weight: bold;
}

.foot-phone{
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
	text-align: right;
	margin-right: 90px;
	font-family: 'Roboto', 'Verdana', 'sans-serif';
}

.foot-phone a{
	text-decoration: none;
	color: inherit;
}

.foot-callback{
	background: #ffba00;
	color: #fff;
	text-decoration: none;
	padding: 4px 0 6px;
	border-radius: 20px;
	display: block;
	width: 130px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	clear: both;
	margin: 10px 0 0 30px;
	font-weight: bold;
}

.foot-callback:hover{
	color: #000;
}

.footer-bottom{
	background: #0a47c4;
	padding: 20px 0;
	margin-top: 20px;
}

.footer-bottom a{
	color: #fff;
}

.foot-menu{
	margin-top: 30px;
}

.foot-menu li{
	list-style: none;
	background: none;
}

.foot-menu li a{
	color: #77787a;
	text-decoration: none;
}

.foot-menu li.title{
	margin-bottom: 20px;
}

.foot-menu li.title a{
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

.company-mission{
	font-size: 24px
}

.how_to_do_text p{
	text-align: center;
	color: #000;
	font-weight: bold;
}


.how_to_do_blocks{
	margin: 40px 0;
	text-align: center;
}

.how_to_do_item{
	width: 30%;
	display: inline-block;
	margin: 10px 1%;
	vertical-align: top;
}

.how_to_do_item .htd_img{
	text-align: center;
}

.how_to_do_item .htd_title{
	margin-top: 10px;
	font-weight: bold;
	height: 80px;
}

.how_to_do_item .htd_title h2{
	color: #ffba00;
	text-align: center;
}

.how_to_do_item .htd_text{
	font-weight: bold;
	color: #000;
	margin-top: 10px;
	text-align: center;
}


#langs{
	display: inline-block;
	vertical-align: top;
	width: 19px;
	margin-top: 3px;
	margin-left: 5px;
	position: relative;
	height: auto;
}

.current_lang::after {
    background: rgba(0, 0, 0, 0) url("/assets/img/down_arrow.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    width: 16px;
    display: block;
    position: relative;
    left: 17px;
    top: -2px;
}

.current_lang{
	background-repeat: no-repeat;
	background: url("/assets/img/langs.png");
	width: 19px;
	height: 13px;
	display: block;
	border: 1px solid #fff;
}

#langs .select_lagns{
	display: none;
	position: absolute;
	z-index: 99999;
	height: auto;
}

#langs .select_lagns div{
	width: 19px;
	height: 13px;
	display: block;
	background-repeat: no-repeat;
	background: url("/assets/img/langs.png");
	clear: both;
	border: 1px solid #fff;
}

#langs:hover .select_lagns{
	display: block;
}

#langs .select_lagns div.ru{
	background-position: 0 0;
	border-bottom: 0;
}

#langs .select_lagns div.en{
	background-position: 0 13px;
	border-bottom: 0;
}

#langs .select_lagns div.rg{
	background-position: 0 26px;
}

.current_lang.ru{
	background-position: 0 0;
	border-bottom: 0;
}

.current_lang.en{
	background-position: 0 13px;
	border-bottom: 0;
}

.current_lang.rg{
	background-position: 0 26px;
}


.review-more{
	background: #ffba00;
	color: #fff;
	text-decoration: none;
	padding: 5px;
	border-radius: 20px;
	display: block;
	vertical-align: top;
	width: 150px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	clear: both;
	font-weight: bold;
	margin: 0 auto 5px;
}

.review-more:hover{
	color: #000;
}

.review-article-text{
	margin-top: 40px;
	color: #000;
	font-weight: bold;
}

.review-link{
	color: #0b46c4;
	font-weight: bold;
}

.why-work h2{
	text-align: center;
	font-weight: bold;
}

.why-work p{
	font-size: 14px;
}

.why-work-top-block{
	display: inline-block;
	vertical-align: top;
	border-bottom: 2px solid #0a47c4;
	padding: 0 0 20px 0;
	width: 455px;
	height: 140px;
	text-align: center;
	padding: 0 10px 20px;
}

.why-work-hr{
	border-bottom: 2px solid #0a47c4;
	padding: 5px 0;
}

.why-work ul li {
    background: transparent url(/assets/img/li-small.png) no-repeat scroll left 8px;
    padding-left: 25px;
    margin-bottom: 15px;
}
/* ********** ELECTRON ********* */

.e-br-cat-wrap {
	padding-left: 30px;
}

.e-br-cat-icon {
	padding: 20px 20px 20px 0px;
	max-width: 50px;
	float: left;
}
.e-br-cat-name {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	padding: 5%;
}
.e-br-cat-desc {
	text-align: left;
	padding: 20px 20px 20px 0;
}
.e-br-cat-desc>ul>li {
	float: unset!important;
	width: unset!important;
	text-align: left!important;
}
.e-br-cat-link {
	background: #ffba00;
	border-radius: 20px;
	padding: 5px 20px;
	color: #fff;
	float: right;
	font-weight: bold;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
}
.e-br-cat-link:hover {
	color: #333;
}

.e-br-cat-details {
	text-align:  right;
	padding: 0 20px 50px 0;
}
.e-br-cats-table {
	border-spacing: 0;
	margin-left: 30px;
	width: 100%;
}
.e-br-cats-table td {
	width: 50%;
	vertical-align: top
}
.e-br-cats-table td:nth-child(even) {
	border-left: 2px solid #999;
}
.e-br-row:not(:first-child) td {
	border-top: 2px solid #999;
}
.e-br-row:nth-child(odd) td:first-child {
	background: #E6EDFB;
}
.e-br-row:nth-child(even) td:last-child {
	background: #E6EDFB;
}
.page-content-h2 {
  padding: 30px 30px 50px 30px;
}
.page-content-text {
  margin-bottom: 20px;
}
.e-br-order-wrap {
  display: inline-block;
  width: 100%;
  line-height: 2.5
}
.e-br-caption {
  display: inline-block;
  max-width: 70%
}
.e-br-order {
  display: inline-block;
  float: right;
  line-height: 110px;
  margin-right: 130px;
}

.e-br-order-link {
	background: #0049D3;
	border-radius: 20px;
	padding: 10px 20px;
	color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.e-br-order-link:hover {
	color: #333;
}
#fancybox-inner {
  top: 0;
  width: 100%;
}
