.e-br-cat-wrap {
	padding-left: 30px;
}

.e-br-cat-icon {
	padding: 20px 20px 20px 0px;
	max-width: 50px;
	float: left;
}
.e-br-cat-name {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	padding: 5%;
}
.e-br-cat-desc {
	text-align: left;
	padding: 20px 20px 20px 0;
}
.e-br-cat-desc>ul>li {
	float: unset!important;
	width: unset!important;
	text-align: left!important;
}
.e-br-cat-link {
	background: #ffba00;
	border-radius: 20px;
	padding: 5px 20px;
	color: #fff;
	float: right;
	font-weight: bold;
}
.e-br-cat-link:hover {
	color: #333;
}
.e-br-cat-details {
	text-align:  right;
	padding: 0 20px 50px 0;
}
.e-br-cats-table {
	border-spacing: 0;
	margin-left: 30px;
	width: 100%;
}
.e-br-cats-table td {
	width: 50%;
	vertical-align: top
}
.e-br-cats-table td:nth-child(even) {
	border-left: 2px solid #999;
}
.e-br-row:not(:first-child) td {
	border-top: 2px solid #999;
}
.e-br-row:nth-child(odd) td:first-child {
	background: #E6EDFB;
}
.e-br-row:nth-child(even) td:last-child {
	background: #E6EDFB;
}
