.page-content-h2 {
    padding: 30px;
	width: 700px;
}
.page-content{
	width: 1000%;
}
.page-content-white {
    background-color: #fff;
}

.page-content-grey {
    background-color: #f2f1ee;
}

.page-section-logo-area {
    height: 60px;
}

.page-section-logo {
    height: 60px;
    width: 60px;
    float: left;
}

.page-section-grey-line {
    background-repeat: repeat-x;
    float: left;
    height: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0 !important;
    margin-top: 20px;
    width: 610px;
}

.grey-1 {
    background-image: url(images/page-grey-line.png);

}

.grey-2 {
    background-image: url(images/page-grey-line2.png);

}

.page-content-text {
    font: 500 100% 'Segoe UI',Verdana,san-serif;
    line-height: 25px;
	margin-right: 20px;
	padding-top:20px;
}

.page-notice-area {
    background-image: url(images/page-anonce-decorator.png);
    background-repeat: repeat-y;
    background-position: left;
    margin: 20px 20px 0 0;
}

.page-notice-text {
    font: bold 14px 'Segoe UI',Verdana,san-serif;
    padding: 10px 0 20px 40px;
    letter-spacing: 0.1px;
}

.page-notice-button {
    width: 240px;
    padding: 0 0 10px 40px;
}

.button-blue {
    display: block;
    height: 26px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font: bold 14px 'Segoe UI',Verdana,san-serif;
    padding: 8px 0 0 0;
    background-color: #0049d3;
}

.button-blue:hover {
    background-color: #d6dbe5;
    color: #000;
}