/*
Copyright (c) ÎÎÎ "ÁÐ Êîíñàëò" 2015
 http://www.brconsult.pro/
*/

/* reset -------------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{
    display:block;
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, dfn, del, p, blockquote, fieldset, input, textarea, select, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, button {
  margin: 0;
  padding: 0;
  /*font-family: 'Roboto', 'Verdana', 'sans-serif';*/
  font-family: 'Roboto', 'Verdana', 'sans-serif';
  color: #232323;
  line-height: 1.5;
}

a:hover {
	color: #f7941f;
}

a,viewmore {
    cursor: pointer;
	color: #0049d3;
	outline: none;
	transition: all .2s ease-in-out 0;
}

ul.nav-header-menu li {
	background: none!important;
}
ul.bg-li-none li{
	background: none!important;
	margin-left: 0px!important;
	padding-left: 0px!important;
}

.bx_catalog_line .bx_catalog_line_ul li {
	margin-bottom: 10px;
}

ul li{
	background: transparent url("images/li.jpg") no-repeat scroll left 10px;
    padding-left: 20px;
}
ul ul, ul ul ul, ul ul ul ul{
	margin-left: 20px;
}

ul.bg-li-none li ul li{
	background: transparent url("images/li.jpg") no-repeat scroll left 10px!important;
    padding-left: 20px!important;
}
ul.bg-li-none li ul ul, ul.bg-li-none li ul ul ul, ul.bg-li-none li ul ul ul ul{
	margin-left: 20px!important;
}
#fancybox-buttons ul li{
	background: none!important;
}


/* typography --------------------------------------------------------------- */
@font-face {
    font-family: 'MuseoSansLight';
    src: url('fonts/MUSEOSANSCYRL.eot');
    src: url('fonts/MUSEOSANSCYRL.eot') format('embedded-opentype'),
         url('fonts/MUSEOSANSCYRL.woff2') format('woff2'),
         url('fonts/MUSEOSANSCYRL.woff') format('woff'),
         url('fonts/MUSEOSANSCYRL.ttf') format('truetype'),
         url('fonts/MUSEOSANSCYRL.svg#MUSEOSANSCYRL') format('svg');
}

@font-face {
    font-family: 'MuseoSansBold';
    src: url('fonts/MUSEOSANSCYRL_3.eot');
    src: url('fonts/MUSEOSANSCYRL_3.eot') format('embedded-opentype'),
         url('fonts/MUSEOSANSCYRL_3.woff2') format('woff2'),
         url('fonts/MUSEOSANSCYRL_3.woff') format('woff'),
         url('fonts/MUSEOSANSCYRL_3.ttf') format('truetype'),
         url('fonts/MUSEOSANSCYRL_3.svg#MUSEOSANSCYRL_3') format('svg');
}

html {
    height: 100%;
    background: #fff;
}

body {
    min-height: 100%;
    height: 100%;
    min-width: 1300px;
	overflow-x: hidden !important;
	font-family: 'Roboto', 'Verdana', 'sans-serif';
}

.main {
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
    /*background-color: #e7e3d8;*/
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto', 'Verdana', 'sans-serif';
	font-weight: bold;
    color: #000;
    padding: 30px 30px 0 30px;
	letter-spacing: 3px;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Roboto', 'Verdana', 'sans-serif';
    font-weight: bold;
    color: #000;
	padding-bottom: 20px;
}

.section {
    display: block;
    clear: both;
    overflow: hidden;
    position: relative;
}

.wrap{
    margin: 0 auto;
    width: 1260px;
}


section:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.wrap:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}

/* header ------------------------------------------------------------------- */
header {
    height: 120px;
    background: #fff;
    margin-bottom: -102px;
    border-bottom: 2px solid #cfccc2;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}

.header-area
{

}

.logo {
    background-image: url(images/logo.png);
    width: 133px;
    height: 35px;
    float: left;
    margin: 30px 30px 0 50px;
}

.header-menu {
    float: left;
}

ul, menu, dir {
    display: block;
}

ol {
  counter-reset: li;
  list-style: none;
}
ol li:before {
  counter-increment: li;
  content: counters(li,".") ". ";
}
ol ol {
	margin-left: 20px;
}
ol ol ol, ol ol ol ol  {
	margin-left: 30px!important;
}

ul {
    list-style: none;
}

li {
    display: list-item;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.phone-header {
    float: right;
    margin: 30px 50px 0 0;
}

.phone-image {
    background-image: url(images/phone-icon.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 10px 0 0;
}

.phone-number {
    float: left;
    font-size: 18px;
    font-weight: bold;
	font-family: 'Roboto', 'Verdana', 'sans-serif';
}

.blue {
    color: #0049d3;
    padding-left: 5px;
}

.phone-number .blue {
    float: right;
}

/* content ------------------------------------------------------------------ */
.service-scroll{
	left: 0;
    position: relative;
    top: -130px;
}
.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    /*background-color: #e7e3d8;*/
    /*background-image: url(images/inner-bg.png);*/
    background-repeat: repeat-y;
    background-position: center;
}
.content2 {
	width: 50%;
    min-height: 100%;
    /*background-color: #e7e3d8;*/
    position: fixed;
    z-index: -1;
}

.nav-side {
    width: 220px;
    float: left;
	position: fixed;
    padding: 30px 50px 30px 50px;
}

.content-side {
    /*background-color: #fff;*/
    width: 950px;
    float: right;
    min-height: 600px;
    color: #4c4d51;
    border-left: 2px solid #cfccc2;
    /*margin-right: 100px;*/
}

.content-text {
    padding: 30px 30px 30px 30px;
}

.nav-title {
    text-transform: uppercase;
    font: bold 100% 'Roboto', 'Verdana', 'sans-serif';
    font-size: 18px;
    letter-spacing: 1.5px;
}

.nav-border {
    height: 4px;
    width: 120px;
    *background-color: #0049d3;
    margin: 30px 0 30px 0;
	background: url("images/nav_line.jpg") no-repeat scroll left top transparent;
}

ul.nav-side-menu {
	font-family: 'Roboto', 'Verdana', 'sans-serif';
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 14px;
}

ul.nav-side-menu li {
    padding: 10px 10px 10px 20px;
    /*background-image: url(images/nav-side-menu-inactive.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0px 5%;*/
    color: #a9a69e;
    font-weight: bold;
    cursor: pointer;
}

ul.nav-side-menu li:active {
    /*background-image: url(images/nav-side-menu-active.png);*/
    color: #000;
}

ul.nav-side-menu li.active {
    /*background-image: url(images/nav-side-menu-active.png);*/
}
ul.nav-side-menu li.active a {
    color: #000;
}

ul.nav-side-menu li a {
    color: #a9a69e;
}

ul.nav-side-menu li a:visited {
    color: #a9a69e;
}

ul.nav-side-menu li a:hover {
    color: #000;
}

ul.nav-side-menu li a:active {
    color: #000;
}

ul.nav-side-menu-link {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 14px;
}

ul.nav-side-menu-link li {
    padding: 10px 10px 10px 20px;
    background-image: url(images/nav-side-menu-inactive.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    color: #a9a69e;
    font-weight: bold;
    cursor: pointer;
}
ul.nav-side-menu-link li:active {
    background-image: url(images/nav-side-menu-active.png);
}
ul.nav-side-menu-link li a {
    color: #a9a69e;
}
ul.nav-side-menu-link li a:hover {
    color: #000;
}

.nav-side-menu-item {
	font-weight: normal;
}

.docflow-logo {
    background-image: url(images/page-docflow-logo.png);
    background-repeat: no-repeat;
}

.analyze-logo {
    background-image: url(images/page-analyze-logo.png);
    background-repeat: no-repeat;
}

.financial-logo {
    background-image: url(images/page-financial-logo.png);
    background-repeat: no-repeat;
}


/* footer ------------------------------------------------------------------- */
footer {
  position: relative;
  /*width: 100%;*/
    height: 104px;
    margin-top: -104px;
	background-color: #fff;
}

.footer-questions {
    text-align: right;
    font-size: 12px;
    color: #000;
    float: left;
    width: 500px;
    margin: 35px 0 0 90px;
}

.footer-question-button {
    float: right;
    margin: 30px 50px 0 0;
    width: 180px;
}


#fancybox-outer {
    *border: 1px solid #999;
    box-shadow: 0px 0px 20px #555;
}
#fancybox-close {
    right: -50px!important;
    top: 0!important;
}
.button-yellow-quest{
	display: block;
	height: 36px;
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #000;
	font: bold 12px 'Roboto', 'Verdana', 'sans-serif';
	padding: 2px 0 0 0;
	background-color: #ffba00;
	border: none;
	width: 100%;
	cursor: pointer;
}
.button-yellow {
    display: block;
    height: 26px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
    font: bold 12px 'Roboto', 'Verdana', 'sans-serif';
    padding: 14px 0 0 0;
    background-color: #ffba00;
}
.button-yellow2{
    display: block;
    height: 26px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
    font-family: 'Roboto', 'Verdana', 'sans-serif';
    font-weight: bold;
    font-size: 12px;
    padding: 14px 0 0 0;
    background-color: #ffba00!important;
	position: relative!important;
	left:0!important;
	width: 100%!important;
	background-image: none!important;
	display: inline-block!important;
	margin-top: 10px;
}
#add_qu{
	font-weight: bold;
    font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
	font-family: 'Roboto', 'Verdana', 'sans-serif';
	letter-spacing: 1.5px;
}
.qu_input{
	height: 30px!important;
	border: 2px solid #ccc!important;
	padding: 3px 11px!important;
	color: #555!important;
	width: 90%!important;
	margin: 0 0 -5px 0!important;
}
.qu_input_bid{
	width: 94%!important;
}
#area_qu{
	border: 2px solid #ccc;
	width: 90%;
	margin-bottom: 15px;
	padding: 10px;
}
#hide_error{
	cursor: pointer;
	margin-top: 10px;
	display: inline-block;
}
.errortext, .notetext{
	font-size: 15px;
}
.notetext{
	color: #000;
}
.dop_menu_services{
	float: right;
    font-weight: bold;
    position: relative;
	margin-right: 10px;
	margin-bottom: 20px;
}


ul.nav-header-menu li {
    padding: 39px 11px 8px!important;
    font-weight: normal;
}
ul.nav-header-menu li a {
    font-family: 'Roboto', 'Verdana', 'sans-serif';
    /*font-weight: bold;*/
    font-size: 12px;
}

@-moz-document url-prefix() {
  ul.nav-header-menu {font-size: 10px;}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   ul.nav-header-menu {font-size: 10px;}
}

#gallery{
	margin: 30px;
}
#gallery a{
	border: 1px solid #ccc;
    display: inline-block;
    float: left;
    height: 150px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px;
    width: 150px;
	text-align: center;
	color: #000;
}

.dop_menu_services {
	font-family: 'Roboto', 'Verdana', 'sans-serif';
    font-weight: bold;
    font-size: 12px;
}
ul.nav-header-menu {
    /*letter-spacing: 1.2px!important;*/
}
