/*
Copyright (c) ÎÎÎ "ÁÐ Êîíñàëò" 2015
 http://www.brconsult.pro/
*/

/* reset -------------------------------------------------------------------- */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, dfn, del, p, blockquote, fieldset, input, textarea, select, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, button {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Verdana', 'sans-serif';
  color: #232323;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{
    display:block;
}


ul.nav-header-menu li {
    background: none!important;
}
ul.bg-li-none li{
    background: none!important;
    margin-left: 0px!important;
    padding-left: 0px!important;
}

ul li{
    background: transparent url("images/li.jpg") no-repeat scroll left 10px;
    padding-left: 20px;
}
ul ul, ul ul ul, ul ul ul ul{
    margin-left: 20px;
}

ul.bg-li-none li ul li{
    background: transparent url("images/li.jpg") no-repeat scroll left 10px!important;
    padding-left: 20px!important;
}
ul.bg-li-none li ul ul, ul.bg-li-none li ul ul ul, ul.bg-li-none li ul ul ul ul{
    margin-left: 20px!important;
}

p {
    margin: 5px 0 5px 0;
}


/* typography --------------------------------------------------------------- */
@font-face {
    font-family: 'MuseoSansLight';
    src: url('fonts/MUSEOSANSCYRL.eot');
    src: url('fonts/MUSEOSANSCYRL.eot?') format('embedded-opentype'),
         url('fonts/MUSEOSANSCYRL.woff2') format('woff2'),
         url('fonts/MUSEOSANSCYRL.woff') format('woff'),
         url('fonts/MUSEOSANSCYRL.ttf') format('truetype'),
         url('fonts/MUSEOSANSCYRL.svg#MUSEOSANSCYRL') format('svg');
    
}

@font-face {
    font-family: 'MuseoSansBold';
    src: url('fonts/MUSEOSANSCYRL_3.eot');
    src: url('fonts/MUSEOSANSCYRL_3?') format('embedded-opentype'),
         url('fonts/MUSEOSANSCYRL_3.woff2') format('woff2'),
         url('fonts/MUSEOSANSCYRL_3.woff') format('woff'),
         url('fonts/MUSEOSANSCYRL_3.ttf') format('truetype'),
         url('fonts/MUSEOSANSCYRL_3.svg#MUSEOSANSCYRL_3') format('svg');
}

html {
    height: 100%;
    background: #fff;
}

body {
    min-height: 100%;
    height: 100%;
    min-width: 1200px;
    font: 16px/1.4 'Segoe UI', 'Verdana', 'sans-serif';
}

.main {
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Segoe UI','Verdana','sans-serif';
    font-weight: bold;
    color: #000;
    letter-spacing: 3px;
    text-align: center;
    padding: 50px 0 20px 0;
}

h2 {
    font-size: 24px;
    padding: 10px 0 10px;
    font-weight: lighter;
}

.section {
    display: block;
    clear: both;
    overflow: hidden;
    position: relative;
}

.wrap{
    margin: 0 auto;
    width: 1260px;
}

.wrap2{
    margin: 0 auto;
    width: 960px;
}

/* header ------------------------------------------------------------------- */
header {
    height: 100px;
    background: #fff;
    z-index: 5;
    position: fixed;
    width: 100%;
}

.header-area
{
    
}

.logo {
    background-image: url(images/logo.png);
    width: 133px;
    height: 35px;
    float: left;
    margin: 30px 30px 0 150px;
}

.header-menu {
    float: left;
}

ul, menu, dir {
    display: block;
}

ol {
  counter-reset: li;
  list-style: none;
}
ol li:before {
  counter-increment: li;  
  content: counters(li,".") ". ";
}
ol ol {
    margin-left: 20px;
}
ol ol ol, ol ol ol ol  {
    margin-left: 30px!important;
}

ul{
    list-style: none;
}

li {
    display: list-item;
}

nav li {
    float: left;
}

nav .header-menu-item a {
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    padding: 42px 13px 8px;
    float: left;
}


a:hover {
    color: #f7941f;
}

a,viewmore {
    cursor: pointer;
    color: #0049d3;
    outline: none;
    transition: all .2s ease-in-out 0;
}


.phone-header {
    float: right;
    margin: 30px 150px 0 0;
}

.phone-image {
    background-image: url(images/phone-icon.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 10px 0 0;
}

.phone-number {
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.blue {
    color: #0049d3;
    padding-left: 5px;
}

.phone-number .blue {
    float: right;
}

/* content ------------------------------------------------------------------ */
.service-scroll{
    left: 0;
    position: relative;
    top: -100px;
}
.content {
    clear: both;
    margin-top: 100px;
}

.left-image-area {
    float: left;
    padding: 15px 10px 0 0;
}

.right-text-area {
    margin-left: 80px;
}

/* services ----------------------------------------------------------------- */
.services-area {
    background-image: url(images/banner-service.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.services {
    height: 700px;
}

.company-mission {
    margin: 0 auto;
    padding: 85px 0 0 0;
    width: 700px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.services-cards-area {
    margin: 0 auto;
    padding:  50px 0 0 0;
    width: 1020px;
    height: 378px;
    perspective: 800px;
}

.service-card {
    float: left;
    width: 300px;
    height: 300px;
    margin: 0 15px 0 15px;
    position: relative;
}

.service-icon {
    width: 300px;
    height: 170px;
}

.service-name {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto,Tahoma;
    text-align: center;
    margin: 20px 0 0 0;
}

.service-docflow {
    background-image: url(images/docflow.png);
    background-repeat: no-repeat;
    background-position: bottom; 
}

.service-financial {
    background-image: url(images/financial.png);
    background-repeat: no-repeat;
    background-position: bottom; 
}

.service-analyze {
    background-image: url(images/analyze.png);
    background-repeat: no-repeat;
    background-position: bottom; 
}

.service-scroll-down {
    margin: 0 auto;
    background-image: url(images/scrolldown.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 67px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    border: 4px solid #ffba00;
}

.card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
}

.card .back {
    background-color: #c59c2f;
    *opacity: 0.9;
    *filter: alpha(opacity=70);
    transform: rotateY( 180deg );
}

.card.flipped {
    transform: rotateY( 180deg );
}

.service-annotation-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font: normal 12px Roboto,Tahoma;
    font-weight: bold;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 20px 0 19px 0;
    line-height: 18px;
}

.service-annotation-line {
    background-image: url(images/service-annotation-line.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 2px;
}

.service-annotation-text {
    color: #000;
    text-align: center;
    font: bold 12px Roboto,Tahoma;
    padding: 20px;
    line-height: 18px;
    min-height: 100px;
}

.service-annotation-button {
    padding: 0 60px 0 60px;
}

/* areas -------------------------------------------------------------------- */
.area-white {
    background-color: #fff;
    padding-bottom: 50px;
}

.area-grey {
    background-color: #f2f1ee;
        padding-bottom: 50px;
}


/* reviews ------------------------------------------------------------------ */
.reviews-area {
    background-color: #f2f1ee;
}

.reviews {

}

.reviews-slider {
    width: 120px;
    height: 22px;
    margin: 0 auto;
}

.review-slider-active a {
    background-image: url(images/slider-active.png);
    padding: 0px 22px 3px 0px;
}

.review-slider-inactive {
    width: 22px;
    height: 22px;
}

.review-slider-inactive a {
    background-image: url(images/slider-inactive.png);
    padding: 0px 22px 3px 0px;
}

.review-slider-inactive a:hover {
    background-image: url(images/slider-hover.png);
}

.reviews-articles {
    margin: 30px auto;
    width: 990px;
    height: 440px;
}

.review-article {
  width: 226px;
  margin: 0px 15px 0 15px;
  position: relative;
  z-index: 2;
  float: left;
  background-color: #fff;
  padding: 37px 37px 37px 37px;
  font-size: 12px;
  min-height: 350px;
  padding-top: 20px;
}

.review-article-logo {
    width: 226px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 20px 0;
}

.review-article-text {
    line-height: 1.75;
}

.review-article-button {
    width: 226px;
    height: 40px;
    padding: 20px 0 0 0;
    position: absolute;
    bottom: 30px;
}

.izh {
    background-image: url(images/izhtrading.png);
}

.azot {
    background-image: url(images/toliattiazot.png);
}

.izhss {
    background-image: url(images/izhspecstal.png);
}

.button-transparent {
    display: block;
    height: 26px;
    border-radius: 20px;
    border: 1px solid #d6dbe5;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font: normal 12px 'Segoe UI','Verdana','sans-serif';
    font-weight: bold;
    padding: 10px 0 0 0;
}

.button-transparent:hover {
    background-color: #d6dbe5;
    color: #000;
}

.button-yellow {
    display: block;
    height: 26px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #000;
    font: normal 12px 'Segoe UI','Verdana','sans-serif';
    font-weight: bold;
    padding: 10px 0 0 0;
    background-color: #ffba00;
}
.button-yellow2{
    display: block;
    height: 26px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #000;
    font: normal 12px 'Segoe UI','Verdana','sans-serif';
    font-weight: bold;
    padding: 10px 0 0 0;
    background-color: #ffba00!important;
    position: relative!important;
    left:0!important;
    width: 100%!important;
    background-image: none!important;
    display: inline-block!important;
    margin-top: 10px;
}
.button-yellow:hover {
    background-color: #ffcc00;
    color: #000;
}

.button-blue {
    display: block;
    height: 26px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font: normal 12px 'Segoe UI','Verdana','sans-serif';
    font-weight: bold;
    padding: 10px 0 0 0;
    background-color: #0049d3;
}

.button-blue:hover {
    background-color: #d6dbe5;
    color: #000;
}

.button-white {
    display: block;
    height: 26px;
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font: normal 12px 'Segoe UI','Verdana','sans-serif';
    font-weight: bold;
    padding: 10px 0 0 0;
}

.button-white:hover {
    background-color: #d9bf78;
}

.reviews-read-all-button {
    width: 150px;
    height: 50px;
    margin: 0 auto;
}

/* presentation ------------------------------------------------------------- */
.presentation-area {
    background-color: #fff;
    background-image: url(images/presentation.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.presentation {
    height: 796px;
}

.presentation-what-is {
    margin: 0 auto;
    padding: 70px 0 140px 0;
    width: 700px;    
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.presentation-form {
    width: 750px;
    margin: 0 auto;
}

.presentation-form-title {
    text-transform: uppercase;
    font: normal 18px 'Segoe UI','Verdana','sans-serif';
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0 0 20px 0;
}

.presentation-form-annotation {
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.presentation-form-fields {
    margin: 70px 0 40px 0;
    text-align: center;
}

input[type="text"]
{
    background: transparent;
    border: 2px solid #aabfe7;
    height: 42px;
    width: 176px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    margin: 0 18px 0 18px;
    padding: 0 15px 0 15px;
}

.presentation-form-submit {
    margin: 0 auto;
    height: 50px;
    width: 204px;
}

/* footer ------------------------------------------------------------------- */
.footer {
    height: 104px;
}

.footer-questions {
    text-align: right;
    font-size: 12px;
    color: #000;
    float: left;
    width: 500px;
    margin: 35px 0 0 90px;
}

.footer-question-button {
    float: right;
    margin: 30px 150px 0 0;
    width: 180px;
}



#fancybox-outer {
    *border: 1px solid #999;
    box-shadow: 0px 0px 20px #555;
}
#fancybox-close {
    right: -50px!important;
    top: 0!important;
}
.button-yellow-quest{
    display: block;
    height: 36px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000;
        font: normal 12px 'Segoe UI','Verdana','sans-serif';
        font-weight: bold;
    padding: 2px 0 0 0;
    background-color: #ffba00;
    border: none;
    width: 100%;
    cursor: pointer;
}

.button-yellow-quest:hover {
    background-color: #ffcc00;
    color: #000;
}

#add_qu{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
        font: normal 16px 'Segoe UI','Verdana','sans-serif';
        font-weight: bold;
    letter-spacing: 1.5px;
}
.qu_input{
    height: 30px!important;
    border: 2px solid #ccc!important;
    padding: 3px 11px!important;
    color: #555!important;
    width: 90%!important;
    margin: 0 0 -5px 0!important;
}
#area_qu{
    border: 2px solid #ccc;
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
}
#hide_error{
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

#f_mes{
    margin-bottom: -50px;
    margin-left: 20px;
    margin-top: 10px;
}

.errortext, .notetext{
    font-size: 15px;
}
.notetext{
    color: #000;
}

#popap_el_top{
    background: transparent url("images/qu1.png") no-repeat scroll 0 0;
    height: 50px;
    left: 50px;
    position: relative;
    top: 220px;
    width: 65px;
    z-index: 20000;
    margin-bottom: -50px;
}
#popap_el_bot{
    background: transparent url("images/qu2.png") no-repeat scroll 0 0;
    height: 50px;
    right: 60px;
    position: absolute;
    bottom: 210px;
    width: 65px;
    z-index: 20000;
}

#popap_el_top_sl{
    background: transparent url("images/qu1.png") no-repeat scroll 0 0;
    height: 50px;
    left: 30px;
    position: absolute;
    top: 110px;
    width: 65px;
    z-index: -1;
}
#popap_el_bot_sl{
    background: transparent url("images/qu2.png") no-repeat scroll 0 0;
    height: 50px;
    right: 30px;
    position: absolute;
    bottom: 150px;
    width: 65px;
    z-index: -1;
}

#popap_el{
    padding: 0px 30px;
    width: 740px;
    position: relative;
    left: 0;
    top: 0;
}
#fancybox-inner{
    overflow-x: hidden!important;
}
#img_popap_el{
    width: 100%;
    text-align: center;
    display: block;
}
#name_popap_el p{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
        font: normal 16px 'Segoe UI','Verdana','sans-serif';
    letter-spacing: 1.5px;
    display: block;
}
#detal_popap_el{
    display: block;
    text-align: center;
}
#popap_all{
    display: block;
}


#owl-demo .item{
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin-top: 20px;
}

.next {
    height: 100px;
    width: 20px;
    background-color: yellow;
}

.prev {
    height: 100px;
    width: 20px;
    background-color: yellow;
}

.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


ul.nav-header-menu li {
    padding: 39px 11px 8px!important;
}
ul.nav-header-menu li a {
    font: 12px Roboto,Tahoma!important;
}

@-moz-document url-prefix() {
  ul.nav-header-menu {font-size: 10px;}
  .service-annotation-text {font: bold 11px/18px 'Segoe UI','Verdana','sans-serif';}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   ul.nav-header-menu {font-size: 10px;}
   .service-annotation-text {font: bold 11px/18px 'Segoe UI','Verdana','sans-serif';}
}



#for_fanc{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0px 0px 40px #555;
}
#for_fanc_block{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: rgb(102, 102, 102);
    z-index: 100;
}
#for_fanc_close{
    position: absolute;
    top: 0px;
    right: -55px;
    width: 32px;
    height: 32px;
    background: transparent url("images/fancybox-close.png") no-repeat scroll 0 0;
    cursor: pointer;
    z-index: 110000;
}

.owl-next {
    position: relative;
    width: 28px;
    height: 55px;
    left: 980px;
    top: 250px;
    background: transparent url("/upload/medialibrary/1d8/1d8a6d000c2941177a5c2d2c367c630b.png") no-repeat scroll 0 0;
}

.owl-next:hover {
    cursor: pointer;
    background: transparent url("/upload/medialibrary/cec/cec6d9e5bbaff32f151443f03862a041.png") no-repeat scroll 0 0;
}


.owl-prev {
    position: relative;
    float: left;
    width: 28px;
    height: 55px;
    left: -50px;
    top: 250px;
    background: transparent url("/upload/medialibrary/308/30867471532f72b47d358effec64ebf3.png") no-repeat scroll 0 0;
}

.owl-prev:hover {
    cursor: pointer;
    background: transparent url("/upload/medialibrary/17a/17ab061661e72300010644b45f5d2307.png") no-repeat scroll 0 0;
}

.why-work-top {
    display: inline-block;
}