div.news-list
{
	word-wrap: break-word;
}
div.reviews-list img.preview_picture
{
	float:left;
	margin:0 14px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.reviews-item a b{
	padding-top: 5px;
	display: inline-block;
}
.reviews-item{
	margin-bottom: 30px;
}